<div id="global-user-wrap" class="update-password">
    <div id="global-user" class="update-password">
        <h2>Update Password</h2>
        <span class="error-msg" id="gul-password-update"></span>
        <span id="gul-password-update-message"></span>
        <form id="form-password-update">
            <fieldset>
                <label for="CurrentPassword" class="control-label">Current Password</label>
                <input type="password" name="CurrentPassword" id="CurrentPassword" class="form-control" placeholder="Current" />
                <span class="help-block hidden"></span>
            </fieldset>
            <fieldset>
                <label for="NewPassword" class="control-label">New Password</label>
                <input type="password" name="NewPassword" id="NewPassword" class="form-control" placeholder="New" />
                <span class="help-block hidden"></span>
            </fieldset>
            <fieldset>
                <label for="ConfirmPassword" class="control-label">Confirm Password</label>
                <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" placeholder="Confirm" />
                <span class="help-block hidden"></span>
            </fieldset>
            <div class="form-btn"><button type="submit" id="UpdatePasswordButton">Update</button></div>
        </form>
    </div>
</div>