<div id="global-user-wrap" class="login-success">
    <div id="global-user" class="login-success">
        <div class="form-nav"><a href="#" class="btn-back">Back</a></div>
        <h2>login success - secure content below</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus ex vitae neque fringilla bibendum. Sed elit ante, vehicula et risus ultrices, tristique varius erat. Aenean vel purus eget orci cursus hendrerit ac vel lacus. Vestibulum elit tellus, finibus sed nibh sit amet, ultrices eleifend mauris. Etiam et velit eget tortor ultrices euismod. Nam tempus elit id dolor tempor maximus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus vestibulum fermentum. Etiam convallis, dui vel cursus ullamcorper, nibh sapien ornare nisi, eu aliquet mauris mi ac velit. Nulla lacinia justo id mi mattis, eget consectetur enim ornare.</p>
    </div>
</div>
