<div id="global-user-wrap" class="sign-up">
    <div id="global-user" class="sign-up">
        <div class="form-nav"><a id="btnBack" href="#" class="btn-back">Back</a></div>
        <h2>Sign Up</h2>
        <h3>Sign up with your email address</h3>
        <span id="gul-signup" class="error-msg"></span>
        <form name="signupForm" id="form-user-signup">
            <fieldset class="form-group">
                <label for="Email" class="control-label">Email Address</label>
                <input type="email" name="Email" id="Email" class="form-control" value="<%=email%>" placeholder="Enter Email" />
                <span class="help-block hidden"></span>
            </fieldset>
            <div class="form-btn"><button type="submit" id="signUpButton">Next</button></div>
        </form>
        <div class="link-signin">
            <h3>Already have an account?</h3>
            <a id="signIn" href="#">Log in here</a>
        </div>
    </div>
</div>