<div id="global-user-wrap" class="forgot-password">
    <div id="global-user" class="forgot-password">
        <div class="form-nav"><a id="btnBack" href="#" class="btn-back">Back</a></div>
        <h2>Forgot your password?</h2>
        <div id="PostReset" class="content-hide">
            <p>
                Check your email for a link to reset your password.
            </p>
        </div>
        <span id="gul-password-forgot" class="error-msg"></span>
        <div id="PreReset" class="content-show">
            <p>Enter the email address you used to register, and we'll send you a link to reset your password.</p>
            <form id="form-password-forgot">
                <fieldset>
                    <label for="Email" class="control-label">Email Address</label>
                    <input type="email" name="Email" id="Email" class="form-control" value="" placeholder="Enter email" />
                    <span class="help-block hidden"></span>
                </fieldset>
                <fieldset class="has-error" id="recaptchaForm">
                        <div id="recaptcha" class="recaptcha"></div>
                        <span class="help-block hidden">You must verify you're a human.</span>
                </fieldset>
                <div class="form-btn"><button type="submit" id="btn-send">Send</button></div>
            </form>
        </div>
        <p class="link-signin">Remember your password? <a id="signIn" href="#">Sign In</a>.</p>
    </div>
</div>
